/* General body styles */
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* Container styling */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  position: relative;
  margin-top: 20px;
 
}

.container::after {
  content: "SALE";
  background-color: red;
  font-size: 15px;
  left: -15px;
  top: -20px;
  padding: 5px 10px;
  position: absolute;
  color: white;
}

/* Navigation header styling */


/* Article image styling */
article img {
  width: 400px;
  height: 300px;
}

/* Article styling */
article {
  border: 5px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 450px 1fr 1fr;
  gap:40px;
}

/* More information link styling */
.more-info:link {
  color: black;
}

.more-info:hover {
  text-decoration: none;
}

/* Add to cart button styling */
.cart {
  background-color: black;
  color: aliceblue;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 30px;
  border: none;
  grid-column: 1/-1;

}

.cart:hover {
  color: #000;
  background-color: #fff;
}

/* Box styling */
.box {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.yellow {
  background: yellow;
}

.white {
  background: white;
  border: 1px solid black;
}

.black {
  background: black;
}

.blue {
  background: blue;
}

.purple {
  background-color: purple;
}
header{
  text-align: center;
  font-size: larger;
  background-color: rgb(250, 218, 218);
  text-transform: uppercase;
  grid-column: 1/-1;
}